.hero {
    background: var(--theme-primary);
    &-padding {
        padding-bottom: 144px;
    }
    &-image {
        flex: 0 0 43%;
        max-width: 43%;
        background: var(--theme-secondary) repeat 50% 50%;
        background-size: cover;
        min-height: 560px;
    }
    &-content {
        flex: 0 0 57%;
        max-width: 57%;
        font-size: 16px;
        line-height: 1.66;
        padding: 90px var(--gap-xl-desktop) 100px;
        p {
            margin-bottom: 29px;
        }
        h1 {
            font-weight: bold;
            font-size: 56px;
            line-height: 1.18;
            margin: 0 0 25px;
        }
        &-inner {
            max-width: 570px;
            margin: 0 auto;
        }
    }
    &-search {
        position: relative;
        background: var(--color-white);
        box-shadow: 0 6px 24px 0 rgba(40, 40, 42, 0.1), 0 32px 80px 0 rgba(40, 40, 42, 0.06);
        border-radius: 8px;
        max-width: 970px;
        height: 90px;
        margin: -45px auto 0;
        &-text {
            background: var(--color-white) url("../images/svg/search.svg") no-repeat 37px 29px;
            display: block;
            width: 100%;
            height: 90px;
            border: 2px solid var(--color-white);
            border-radius: 8px !important;
            font-size: 18px;
            padding: 10px 160px 10px 87px;
            transition: border-color $d $f;
            &:focus {
                border-color: var(--theme-primary);
            }
        }
        .button {
            position: absolute;
            right: 20px;
            top: 20px;
        }
        .button-search {
            display: none;
            position: absolute;
            left: 18px;
            top: 22px;
            background: transparent url("../images/svg/search.svg") no-repeat 0 0;
            background-size: 18px;
            width: 20px;
            height: 20px;
            border: 0;
            font-size: 0;
            color: transparent;
            line-height: 0;
        }
    }
    &-v2 {
        position: relative;
        background: var(--theme-secondary);
        color: var(--color-white);
        text-align: center;
        min-height: 560px;
        &-inverse {
            color: var(--theme-light-secondary);
            background: var(--color-white);
            .hero-image {
                background-color: var(--color-white);
            }
        }
        .hero-image {
            position: absolute;
            left: 0;
            top: 0;
            flex: 0 0 100%;
            max-width: 100%;
            height: 100%;
            width: 100%;
            min-height: 100%;
        }
        .hero-content {
            position: relative;
            flex: 0 0 100%;
            max-width: 100%;
            &-inner {
                max-width: 780px;
            }
        }
    }
    &-v3 {
        background: var(--color-white);
    }
    &-v4 {
        position: relative;
        background: var(--color-light-gray);
        color: var(--color-dark-gray);
        min-height: 560px;
        .hero-image {
            position: absolute;
            left: 0;
            top: 0;
            flex: 0 0 100%;
            max-width: 100%;
            height: 100%;
            width: 100%;
            min-height: 100%;
            background-color: var(--color-light-gray);
        }
        .hero-content {
            position: relative;
            flex: 0 0 100%;
            max-width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            max-width: 1250px;
            margin: 0 auto;
            padding: 53px var(--gap-xl-desktop) 50px;
            &-inner {
                flex: 0 0 57.265%;
                max-width: 57.265%;
                margin: 0;
                padding-right: 40px;
            }
        }
        .getapp-column-list {
            padding-top: 20px;
        }
    }
    &-photo {
        flex: 0 0 42.735%;
        max-width: 42.735%;
        img {
            display: block;
            width: 466px;
            margin-left: auto;
        }
    }
}
@media (max-width: 992px) {
    .hero {
        &-padding {
            padding-bottom: 40px;
        }
        &-image {
            flex: 0 0 100%;
            max-width: 100%;
            min-height: 240px;
        }
        &-content {
            flex: 0 0 100%;
            max-width: 100%;
            font-size: 16px;
            line-height: 1.5;
            padding-top: 20px;
            padding-bottom: 56px;
            padding-left: var(--gap-xs-desktop);
            padding-right: var(--gap-xs-desktop);
            &-inner {
                max-width: 100%;
            }
            h1 {
                font-size: 32px;
                line-height: 1.23;
                margin-bottom: 16px;
            }
            p {
                margin-bottom: 10px;
            }
        }
        &-search {
            height: 64px;
            margin-left: 16px;
            margin-right: 16px;
            max-width: 100%;
            margin-top: -32px;
            &-text {
                font-size: 16px;
                padding: 5px 10px 5px 44px;
                height: 64px;
                background: var(--color-white);
            }
            .button {
                display: none;
            }
            .button-search {
                display: block;
            }
        }
        &-v2 {
            text-align: left;
            min-height: 400px;
            .hero-content {
                padding-bottom: 20px;
                &-inner {
                    max-width: 100%;
                }
            }
        }
        &-v4 {
            min-height: 400px;
            .hero-content {
                padding: 40px var(--gap-xs-desktop);
                &-inner {
                    flex: 0 0 100%;
                    max-width: 100%;
                    padding-right: 0;
                    text-align: center;
                }
            }
            .getapp-column-list {
                justify-content: center;
            }
        }
        &-photo {
            order: -1;
            flex: 0 0 100%;
            max-width: 100%;
            margin-bottom: 20px;
            img {
                width: 233px;
                margin: 0 auto;
            }
        }
    }
}
.hero-caption {
    padding: 30px 0 40px;
    background: var(--theme-secondary);
    color: $white;
    font-size: 36px;
    line-height: 1.2;
    h1 {
        margin: 0;
        padding: 0;
        font-size: 100%;
        font-weight: normal;
    }
    .container-fixed {
        max-width: 1250px;
    }
    & + .stations {
        padding-top: 40px;
        padding-bottom: 0;
    }
    &-search {
    }
}
.hero-search {
    &-categories {
        font-size: 20px;
        font-weight: 500;
        &-list {
            display: flex;
            //flex-wrap: wrap;
            margin-left: -30px;
            li {
                margin-left: 30px;
                &.clear-all {
                    font-weight: normal;
                    flex-grow: 1;
                    text-align: right;
                }
            }
            a {
                color: rgba(#fff, 0.6);
                border-bottom: 2px solid transparent;
                &.active {
                    color: $white;
                    border-bottom-color: $primary;
                }
                &:hover {
                    color: $white;
                }
            }
        }
    }
    &-input {
        position: relative;
        margin: 30px 0;
        &-text {
            width: 100%;
            vertical-align: top;
            margin: 0;
            height: 58px;
            font-size: 20px;
            padding: 3px 68px 3px 24px;
            border-radius: 29px !important;
            border: 1px solid $light-gray;
            background: $light-gray;
        }
        &-button {
            width: 68px;
            height: 58px;
            border: 0;
            right: 0;
            top: 0;
            position: absolute;
            text-indent: -9999px;
            background: transparent url("../images/svg/search2.svg") no-repeat 50% 50%;
            border-radius: 29px;
            border: 0;
        }
    }
    &-filter {
        margin-top: 10px;
        display: flex;
        margin-left: -15px;
        margin-right: -15px;
        &-item {
            padding: 0 15px;
            max-width: 33.333333%;
            select.select {
                border: 1px solid $white;
                font-weight: 500;
                height: 32px;
                appearance: none;
                padding-left: 16px;
                padding-right: 35px;
                background: $white;
                background-image: url("../images/svg/select.svg");
                background-repeat: no-repeat;
                background-position: calc(100% - 10px) 50%;
                background-size: 10px 6px;
                border-radius: 16px;
                &::-ms-expand {
                    display: none;
                }
            }
        }
    }
}
.pagination {
    padding: 40px 0 60px;
    font-size: 16px;
    text-align: center;
    a {
        margin: 0 5px;
        padding: 5px 14px;
        border-radius: 5px;
        display: inline-block;
        color: $gray;
        font-weight: 500;
        &:hover {
            color: $text;
        }
        &.active {
            background-color: $primary;
            color: $text;
            cursor: default;
        }
    }
}
@media (max-width: 992px) {
    .hero-caption {
        text-align: center;
        font-size: 30px;
    }
    .hero-search {
        &-input {
            &-text {
                font-size: 16px;
            }
        }
        &-filter {
            justify-content: center;
            margin-left: -10px;
            margin-right: -10px;
            &-item {
                padding-left: 10px;
                padding-right: 10px;
                flex: 0 0 33.333333%;
                select.select {
                    font-size: 12px;
                    width: 100%;
                    padding-right: 24px;
                }
            }
            &-clear {
                padding-top: 20px;
                a.button {
                    padding: 5px 18px;
                    font-size: 13px;
                }
            }
        }
        &-categories {
            font-size: 15px;
            &-list {
                justify-content: center;
                flex-wrap: wrap;
                margin-left: -16px;
                li {
                    margin-left: 16px;
                    &.clear-all {
                        display: none;
                        border-left: 1px solid rgba($white, 0.5);
                        padding-left: 15px;
                        font-weight: normal;
                        flex-grow: 0;
                        text-align: right;
                        span {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .pagination {
        font-size: 15px;
        a {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}
