.lead {
    margin: 80px 0;
    padding: 80px 0;
    background: var(--theme-primary);
    &-v2,
    &-v4 {
        padding-top: 0;
        padding-bottom: 0;
        background: var(--color-white);
    }
    &-v3 {
        margin-top: 0;
    }
    &-v5 {
        background: transparent;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            left: 0;
            top: -80px;
            width: 712px;
            height: 936px;
            background: transparent url("../images/upload/bg.png") 0 0 no-repeat;
            background-size: 100% 100%;
        }
    }
    &-content {
        padding: 0 40px;
        font-size: 20px;
        line-height: 1.667;
        color: var(--theme-secondary);
        p {
            margin-bottom: 20px;
        }
    }
    &-title {
        font-size: 56px;
        line-height: 1.18;
        font-weight: bold;
        margin-bottom: 22px;
        h1,
        h2,
        h3 {
            font-size: 100%;
            font-weight: bold;
        }
    }
    &-image {
        max-width: 80px;
        margin-bottom: 20px;
    }
    & + .footer-global {
        margin-top: -80px;
    }
}
.wysiwyg {
    font-size: 16px;
    a {
        word-break: break-all;
        word-break: break-word;
        hyphens: auto;
        color: $text;
        font-weight: 500;
        border-bottom: 2px solid $primary;
        &:hover {
            color: $primary;
        }
    }
    h2,
    h3 {
        font-weight: 500;
    }
    ul,
    ol,
    table,
    p {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    img {
        display: block;
        margin-top: $gap-xs-desktop;
        margin-bottom: $gap-xs-desktop;
        &.alignleft {
            margin: $gap-xs-desktop $gap-xs-desktop $gap-xs-desktop 0;
        }
        &.alignright {
            margin: $gap-xs-desktop 0 $gap-xs-desktop $gap-xs-desktop;
        }
        &.aligncenter {
        }
    }
    blockquote {
        margin-top: $gap-xs-desktop;
        margin-bottom: $gap-xs-desktop;
        padding-left: $gap-xs-desktop;
        font-style: italic;
        p {
            margin-bottom: 0;
        }
    }
    hr {
        clear: both;
        margin-top: $gap-xs-desktop;
        margin-bottom: $gap-xs-desktop;
        border: 0;
        border-bottom: 1px solid $light-gray;
        &.transparent {
            border-bottom-color: transparent;
        }
    }
    ul {
        overflow: hidden;
        margin-top: $gap-xs-desktop;
        margin-bottom: $gap-xs-desktop;
        list-style: inside disc;
        li {
            padding-left: $gap-xs-desktop;
        }
    }
    ol {
        margin-top: $gap-xs-desktop;
        margin-bottom: $gap-xs-desktop;
        list-style: none;
        padding: 0;
        li {
            //padding-left: $gap-xs-desktop;
        }
    }
    table {
        table-layout: fixed;
        margin-top: $gap-md-desktop;
        margin-bottom: $gap-md-desktop;
        overflow: auto;
        font-size: 12px;
        display: block;
        max-width: 100%;
        border: none !important;
        th {
            width: 16%;
        }
        tr {
            vertical-align: top;
        }
        th {
            padding: 10px 10px;
            background: $light-gray;
            border: 1px solid $light-gray;
        }
        td {
            padding: 10px 10px;
            border: 1px solid $light-gray;
        }
    }
}
@media (max-width: 992px) {
    .lead {
        margin: 40px 0;
        padding: 40px 0;
        &-v2,
        &-v4 {
            padding-top: 0;
            padding-bottom: 0;
        }
        &-v3,
        &-v4 {
            margin-top: 0;
        }
        &-v5 {
            padding-top: 0;
            padding-bottom: 0;
            &::before {
                top: -40px;
                width: 356px;
                height: 468px;
            }
        }
        &-content {
            padding: 0;
            font-size: 16px;
            line-height: 1.5;
        }
        &-title {
            font-size: 32px;
            line-height: 1.23;
            margin-bottom: 12px;
        }
        &-image {
            max-width: 44px;
            margin-bottom: 10px;
        }
        & + .footer-global {
            margin-top: -40px;
        }
    }
}
