.manage {
    margin: 80px 0;
    &-caption {
        margin: 0 40px 46px;
        font-size: 18px;
        line-height: 1.667;
        color: var(--theme-secondary);
        p {
            margin-bottom: 20px;
        }
    }
    &-title {
        font-size: 36px;
        line-height: 1.2;
        font-weight: bold;
        margin-bottom: 22px;
        h2 {
            font-size: 100%;
            font-weight: bold;
        }
    }
    &-list {
        margin-top: -40px;
    }
    &-item {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
        padding: 40px 40px 0;
        color: var(--theme-secondary);
        p {
            margin-bottom: 10px;
        }
        &-icon {
            min-height: 32px;
            margin-bottom: 9px;
            img {
                display: block;
            }
        }
        &-title {
            font-size: 18px;
            line-height: 1.334;
            font-weight: bold;
            margin-bottom: 10px;
        }
    }
}
@media (max-width: 992px) {
    .manage {
        margin: 40px 0;
        &-caption {
            margin: 0;
            font-size: 16px;
            line-height: 1.5;
        }
        &-title {
            font-size: 28px;
            line-height: 1.286;
            margin-bottom: 12px;
        }
        &-list {
            margin-top: 0;
        }
        &-item {
            flex: 0 0 100%;
            max-width: 100%;
            padding: 20px 0 10px;
        }
    }
}